@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.headline_produkt {
  text-align: center;
  font-size: 30px;
  margin-left: 20%;
}

.flex-container { /* flex: Product Cards kommer op på række (flex-wrap: wrap;) = responsiv */
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 5%;
}

.img-banner { /* webshop: banner - portræt */
  width: auto;
  height: 400px;
  position: relative; /* relative = det er en del af "tegnebrættet" -> "absolut" = ligesom hvis det sidder på skærmen i en låst position - andre elementer hopper ind under */
  margin-left: 18%; /* banneret starter fra menubaren + responsiv ->
  (rediger i photoshop med nyt billede fra Mona Vander) */
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
}

.card { /* pruduct card */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.produkt_1 { /*produkt 1 - billeder */
  width: 300px;
  height: 100%;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  height: 100%;
  background: #4b4276;
  position: fixed;
  width: 18%;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  width: 80%;
}


.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}


.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
